<%- include ('../partials/header-products') %>


<%	const subtotal = products.reduce((acc, product) => { %>
  <%		return acc + product.productDetails.price * product.quantity; %>
<%	}, 0); %>

<% const cartItems = products.reduce((total, product) => { %>
<%  return total += product.quantity; %>
<%}, 0) %>


<div class="container-cart">
  
  <main class="cart">
   <div class="cart-content-header">
      <h1>Your Cart &lpar;<%= cartItems %><%= cartItems === 1 ? ' Item' : ' Items' %>&rpar;</h1>
    </div> 
      <% if (cartItems !== 0) { %>
      <div class="order-disclaimer">
      <p class="order-countdown">Order Countdown: <span class="order-counter"><%= counter ? counter.quantity : 25 %> </span> t-shirts to go until we ship next batch</p>
      <p class="order-counter-disc">
        * Please note that we order and ship out our t-shirts in batches of 25.
        With your support by liking, & sharing our tees, your order will be made sooner.
        </p>
      </div>
   
    <div class="cart-content">
      <table>
        <thead class="cart-hidden-mobile">
          <tr>
            <th class="cart-header-item" colspan="2">Item</th>
            <th class="cart-header-item">Price</th>
            <th class="cart-header-item">Quantity</th>
            <th class="cart-header-item">Total</th>
          </tr>
        </thead>
        <%  for (let product of products) { %>
        <tbody class="cart-list">
          <tr>
            <td class="cart-item cart-item-figure"><img alt="thumbnail of t-shirt in cart" src="data:image/png;base64, <%= product.productDetails.image %> "></td>
            <td class="cart-item cart-item-desc">
              <div id="item-desc-container">
                <p id="item-title"> <%= product.productDetails.title %> </p>
                <p id="item-desc-small"> <%= product.productDetails.description %> </p>
                <div> <p>Color</p> <span><%= product.color %></span>  <p>Size</p> <span><%= product.size %></span></div>
                
              </div>
              </td>
            <td class="cart-item cart-item-price"><span class="cart-item-label cart-hidden-desktop">Price</span><span class="cart-item-value">&#8364; <%= product.productDetails.price.toFixed(2)  %></span> </td>
            <td class="cart-item cart-item-quantity">
              <label class="cart-item-label cart-hidden-desktop">Quantity:</label>
              <div class="form-increment">
                <form method="POST" action="/cart/products/edit-quantity/">
                  <input hidden value="<%= product.id %>" name="id">
                  <input hidden value="<%= product.size %>" name="size">
                  <input hidden value="<%= product.color %>" name="color">
                  <button type="submit" value="minus" name="increment">                   
                      <span id="quantity-minus">
                        <i class="fas fa-minus"> </i>
                      </span>
                  </button>
                  <input value="<%= product.quantity  %>" name="quantity">
                  <button type="submit" value="plus" name="increment">                   
                    <span id="quantity-plus">
                      <i class="fas fa-plus"> </i>
                    </span>
                </button>
                </form>
              </div>
            </td>
            <td class="cart-item cart-item-total">
              <span class="cart-item-label cart-hidden-desktop">Total</span>
              <div class="form-delete">
                &#8364; <%= (product.productDetails.price  * product.quantity).toFixed(2)  %> 
                <form method="POST" action="/cart/products/delete">
                  <input hidden value="<%= product.id %>" name="id">
                  <input hidden value="<%= product.size %>" name="size">
                  <input hidden value="<%= product.color %>" name="color">
                  <button>                  
                    <span>
                      <i class="far fa-times-circle">
                      </i>
                    </span>
                  </button>
                </form>
              </div>
            </td>
          </tr>
        </tbody>
        <%  } %>
      </table>
    </div>
    <div class="cart-totals-container">
      <ul class="cart-totals">
        <li class="cart-total">
          <div class="cart-total-label">Subtotal: </div>
          <div class="cart-total-value">&#8364; <%= subtotal.toFixed(2)  %> </div>
        </li>
        <li class="cart-total">
          <div class="cart-total-label">Shipping:</div>
          <div class="shipping-info"><a href="#">Add info</a></div>
          <div class="shipping-estimator hidden-cart">
            <form class="estimator-form ">
              <div class="estimator-label">Country</div>
              <div class="estimator-value">
                <select class="shipping-estimator-cart">

                </select>
               </div> 
              <div class="shipping-quote">
                <div class="estimator-label">Shipping Cost</div>
                <div class="estimator-value"></div>
              </div>
              <div class="update-shipping hidden-cart"><a class="update-btn" href="#">Update shipping Cost</a></div>
            </form>
           
          </div>
        </li>
        <li class="cart-total">
          <div class="cart-total-label">Grand Total:</div>
          <div class="cart-total-value grand-total-cart">&#8364; <%= subtotal.toFixed(2) %></div>
          <input id="subtotal-cart" hidden value=" <%= subtotal %>">
        </li>
      </ul>
    </div>
    <div class="cart-actions">
     <a href="/checkout"><button class="checkout-btn">Checkout</button></a> 
    </div>
<%    } else {%>
    <div class="empty-cart-div">
      <h3>Your cart is empty</h3>
    </div>
<% } %>
  </main>
</div>


   



<%- include ("../partials/footer-products") %>